{
    "presets": ["react", "es2015", "stage-0"],
    "plugins": [
        "transform-runtime",
        "add-module-exports"
    ],
    "env": {
        "start": {
            "plugins": [
                "typecheck",
                "react-hot-loader/babel"
            ]
        }
    }
}
